/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

/*
.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
	color: rgb(205/50/29);
	font-weight: 300; 
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
	font-weight: 300;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 300;
}

.big, h4 {
	font-size: 19px;
	line-height: 30px;
	font-weight: 300;
}

body {
	font: 16px/24px museo-sans,sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
	font-weight: 300;
}
*/


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/*	Form
	------------------	*/
	
input {
	color: #A8A8A8;
	border: solid 1px #A8A8A8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	box-shadow: inset 0 2px 3px RGBA(0,0,0,0.15),0px 1px 0px RGBA(255,255,255,0.5);
	-webkit-box-shadow: inset 0 2px 5px RGBA(0,0,0,0.15),0px 1px 0px RGBA(255,255,255,0.5);
	-moz-box-shadow: inset 0 2px 3px RGBA(0,0,0,0.15),0px 1px 0px RGBA(255,255,255,0.5);
	width: 250px;
	font-size: 14px;
}

button, a.button{
	color: #6e6e6e;
	background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
	border: solid 1px #dcdcdc;
	padding: 10px 20px 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
	font-size: 14px;
}

button:hover, a.button:hover{
	color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #999;
}

button:active, a.button:active {
	color: #000;
    border-color: #444;
    border-bottom: 1px solid #444;
}


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	position: relative;
	background: white;
	color: #808080;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

header, footer, article, nav {

}

header {

}

article {

}

footer {

}

a {
	text-decoration: none;
	color: #F15A29;
}

a:hover, a:active {
	border-bottom:1px dotted;
}

h3 a:hover {
	border-bottom:none;
}

li {
	list-style: none;
	float: left;
}

figcaption {
	text-align: center;
}

hr {
	border: none;
	clear: both;
}

aside {
	position: absolute;
	right: 48px;
	width: 252px;
	z-index: 0;
	padding-top: 20px;
	clear: right;
}

nav li {
}

.nav_home {
	width: 5%;
}

nav a {
  display: block;
  color: #FFFFFF;
  text-decoration:none;
}

nav a:hover, nav a:active {
	border-bottom: none;
	display: block;
	color: #FFFFFF;
	background: #A8A8A8;
}

nav a.active {
	display: block;
	color: #FFFFFF;
	background: #A8A8A8;
}

section {
	float: left;
}

footer p {
}

div.sponsors {
}


#share a {
	text-align: center;
	display:  block;
}

#follow {
}

.obscure {
	unicode-bidi:bidi-override; 
	direction: rtl;
}

.sidehead {
	text-align:right;
}

p.agenda {
	width:48%;
}

.right {
	float: right;
}

.left {
	float: left;
}

span.session-title {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

span.session-content {
	font-weight: 300;
}

.agenda-break {
	color: #808080;
}

.agenda a {
	font-weight: 500;
}

li.team {
	margin-bottom: 20px;
}

/*

		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 48px 28px 60px;
	}
}



		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    

@media only screen and (max-width: 767px) {
	
	body {
		padding: 48px 0px 60px;
		position: relative;
		border-top: solid 5px #F15A29;
		background: white;
		color: #808080;
		text-align: center;
	}
	
	header, footer, article, nav {
    	padding-left: 34px;
    	padding-right: 34px;
    	margin: 0 auto;
    	width: 252px;
    	position: relative;
	}
	
	aside {
		position: relative;
		right: 0px;
		width: 252px;
		padding-top: 0px;	
	}
	
	section {
		width: 252px;	
	}
	
	#logo {
		margin-top: 20px;
	}
	
	nav li {
		float: left;
		text-align: center;
	}
	
	.nav_home {
		width: 20%
	}
	
	li.nav_registration {
		width: 80%;
	}
	
	li.nav_agenda, li.nav_speakers {
		width: 50%;
	}
	
	li.nav_info, li.nav_press {
		width: 50%;
	}
	
	li.nav_participants {
		width: 100%;
	}
	
	.sidehead {
		text-align:center;
	}
	
}



		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}	
}
*/
body {margin: 20px 0 0; padding: 0; background: url(../images/bg.jpg) repeat-x #bebebe;width:100%; height: auto; color:#17375e;
}
section {
  font-family:arial;
}
article { width:960px; height:100%; margin:0 auto;
  font-family:arial;
  text-align:left;
  color: #17375e;
  min-height: 450px;
}
header { width:960px; margin:0 auto; height:500px; }
#logo { width:960px; height:115px; }
#time_location { float:left; width:675px; height:85px; }
#register { float:right;width:285px;height:125px; }
nav { width:675px; }
nav ul li { float:left; margin:0; padding:0; list-style:none; }
aside#sponsors { position:relative; float:right; width: 285px; margin:0 10px 0 20px; height:400px; right:0; }
figure img { border:#fff solid 5px; background:#fff; }
figcaption {font-weight:300;font-size:12px;}
.copytext { width:640px; margin:10px 0 20px; }
.speakers-box { margin: 25px 0 0; overflow:hidden; height:210px; color:#fff; width:960px; }
#speakers { text-align:left; overflow:hidden; height: 150px; margin-top:20px; width:10000em; }
#speakers li { height: 150px; width: 130px; margin-right: 8px; }
#speakers-nav a {color:#fff;}

.jcarousel-container { height: 170px; margin-top:20px; }
.jcarousel-direction-rtl { direction: ltr; }
.jcarousel-container-horizontal { width: 960px; }
.jcarousel-container-vertical { }
.jcarousel-clip { overflow: hidden; }
.jcarousel-clip-horizontal { height:150px; }
.jcarousel-clip-vertical { width:130px; }
.jcarousel-item { width:150px; height:130px;}
.jcarousel-item-horizontal { }
.jcarousel-direction-rtl .jcarousel-item-horizontal { margin-right: 8px; }
.jcarousel-item-vertical { }
.jcarousel-item-placeholder { background: #fff; }

.left-arrow {
        border-color: transparent white;
        border-style: solid;
        border-width: 20px 20px 20px 0px;
        height: 0px;
        width: 0px;
}

.right-arrow {
        border-color: transparent white;
        border-style: solid;
        border-width: 20px 0px 20px 20px;
        height: 0px;
        width: 0px;
}