<li style="margin-left:10px;margin-right:10px;margin-top:20px;">
	<figure>
		<img src="http://placehold.it/120">
		<figcaption style="font-weight:300;font-size:14px;"><%= Name %></figcaption>		
	</figure>
</li>