<section style="margin-top:40px;">
	<ul id="speakers"></ul>
	<p style="margin-top:30px;font-weight:300">*agenda & speakers may change without notice</p>
</section>
<aside id="sponsors">
	<div class="sponsors">
	</div>
</aside>